@model dynamic
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "ManagePostPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] BGColor =
            {
                "#fee4cb","#e9e7fd","#ffd3e2","#c8f7dc","#d5deff"
            };
    Random rd = new Random();
    int sumOfLike = 0;
    int sumOfShare = 0;
    foreach (var item in Model.Posts)
    {
        sumOfLike += (int)item.GetType().GetProperty("Like").GetValue(item, null);
        sumOfShare += (int)item.GetType().GetProperty("Share").GetValue(item, null);
    }

}

<div class="projects-section">
    <div class="projects-section-header">
        <p>Danh sách bài viết</p>
        @*<p class="time">December, 12</p>*@
    </div>
    <div class="projects-section-line">
        <div class="projects-status">
            <div class="item-status">
                <span class="status-number">@Model.Posts.Count</span>
                <span class="status-type">Bài viết</span>
            </div>
            <div class="item-status">
                <span class="status-number">@sumOfLike</span>
                <span class="status-type">Like</span>
            </div>
            <div class="item-status">
                <span class="status-number">@sumOfShare</span>
                <span class="status-type">Share</span>
            </div>



        </div>
        <div class="view-actions">
            <a href="~/post/create">
                <button class="btn-secondary btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z" />
                    </svg>
                    Tạo bài viết
                </button>
            </a>
            <button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6" />
                    <line x1="8" y1="12" x2="21" y2="12" />
                    <line x1="8" y1="18" x2="21" y2="18" />
                    <line x1="3" y1="6" x2="3.01" y2="6" />
                    <line x1="3" y1="12" x2="3.01" y2="12" />
                    <line x1="3" y1="18" x2="3.01" y2="18" />
                </svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7" />
                    <rect x="14" y="3" width="7" height="7" />
                    <rect x="14" y="14" width="7" height="7" />
                    <rect x="3" y="14" width="7" height="7" />
                </svg>
            </button>
        </div>
    </div>
    <div class="project-boxes jsGridView">
        @foreach (var item in Model.Posts)
        {
            @if (@item.GetType().GetProperty("SharePrivacy").GetValue(item, null) == "0")
            {
                <div class="project-box-wrapper">
                    <div class="project-box" style="background-color: @BGColor[rd.Next(0, 4)].ToString();">
                        <div class="project-box-header">
                            <span>@item.GetType().GetProperty("TimeModified").GetValue(item, null)</span>
                            <div class="more-wrapper">
                                <button class="project-btn-more" id="more-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="12" cy="5" r="1" />
                                        <circle cx="12" cy="19" r="1" />
                                    </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="more-btn">
                                    <a class="dropdown-item" href="/post/DetailedPostPage?id=@item.GetType().GetProperty("ID").GetValue(item, null)">Xem chi tiết</a>
                                    <form asp-action="Delete" asp-route-id="@item.GetType().GetProperty("ID").GetValue(item, null)" method="post">
                                        <button type="submit" class="dropdown-item">Xoá</button>
                                    </form>
                                    <a class="dropdown-item" href="/post/edit?id=@item.GetType().GetProperty("ID").GetValue(item, null)">Sửa</a>
                                </div>
                            </div>
                        </div>
                        <div class="project-box-content-header">
                            <p class="box-content-header">@item.GetType().GetProperty("Title").GetValue(item, null)</p>

                        </div>
                        <div class="project-box-footer">
                            @using (Html.BeginForm("InsertOrDeleteLike", "PostLike", new { PostID = item.GetType().GetProperty("ID").GetValue(item, null), UserEmail = item.GetType().GetProperty("Author").GetValue(item, null) }, FormMethod.Post))
                            {
                                <button class="btn album-action @(Context.Session.GetString("email") != null ? (@item.GetType().GetProperty("isLiked").GetValue(item, null) == true ? "active" : "a") : "")">
                                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                                    </svg>
                                    @item.GetType().GetProperty("Like").GetValue(item, null)
                                </button>
                            }
                            <a href="/post/DetailedPostPage?id=@item.GetType().GetProperty("ID").GetValue(item, null)" class="album-action">
                                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                                    <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
                                </svg>
                                @item.GetType().GetProperty("Comment").GetValue(item, null)
                            </a>
                            <a href="/PostShare/Create?PostID=@item.GetType().GetProperty("ID").GetValue(item, null)" class="album-action">
                                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                                    <path d="M17 1l4 4-4 4" />
                                    <path d="M3 11V9a4 4 0 014-4h14M7 23l-4-4 4-4" />
                                    <path d="M21 13v2a4 4 0 01-4 4H3" />
                                </svg>
                                @item.GetType().GetProperty("Share").GetValue(item, null)
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="messages-section">
    <button class="messages-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <line x1="15" y1="9" x2="9" y2="15" />
            <line x1="9" y1="9" x2="15" y2="15" />
        </svg>
    </button>
    <div class="projects-section-header">
        <p>Liên hệ</p>
    </div>
    <div class="messages">
        @foreach (var item in Model.Friends)
        {
            <div class="message-box">
                <img src="@item.GetType().GetProperty("AvatarURL").GetValue(item, null)" alt="profile image">
                <div class="message-content">
                    <a href="/Chat/ChatPageGUI?ChatId=@item.GetType().GetProperty("ChatId").GetValue(item, null)">

                        <div class="message-header">
                            <div class="name">@item.GetType().GetProperty("name").GetValue(item, null)</div>
                        </div>
                    </a>
                    <p class="message-line">
                        @item.GetType().GetProperty("LastMessage").GetValue(item, null)
                    </p>
                    <p class="message-line time">
                        @item.GetType().GetProperty("LastTime").GetValue(item, null)
                    </p>
                </div>
            </div>
        }
    </div>
</div>
