@model List<object>
@{
    ViewData["Title"] = "InteractionManagementGUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background: #fff; width:100%; border-radius:32px">
    <table class="table" style="border:none">
        <tr style="border:none">
            <th scope="col">Tên</th>
            <th scope="col">Số tin nhắn</thscope="col">
            <th scope="col">Chia sẻ</th>
            <th scope="col">Bình luận</th>
            <th scope="col">Thích</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <img src="@item.GetType().GetProperty("AvatarURL").GetValue(item, null)" width="40px" height="40px" style="border-radius:50%"/>
                @item.GetType().GetProperty("name").GetValue(item, null)
                </th>
                <td>@item.GetType().GetProperty("NumOfMess").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("NumOfShare").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("NumOfComment").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("NumOfLike").GetValue(item, null)</td>
            </tr>
        }
    </table>
</div>