@model dynamic;
@{
    ViewData["Title"] = "AnalysisPageGUI";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model.Users)
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Email</th>
                <th>Số lượng bài viết</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="@item.GetType().GetProperty("AvatarURL").GetValue(item, null)" style="border-radius:50%; margin: 20px" width="40px" height="40px" />
                    @item.GetType().GetProperty("name").GetValue(item, null)
                </td>
                <td>@item.GetType().GetProperty("EmailAddress").GetValue(item, null)</td>
                <td>
                    @item.GetType().GetProperty("NumOfPost").GetValue(item, null)
                </td>
            </tr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Thích</th>
                        <th>Bình luận</th>
                        <th>Chia sẻ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        if (post.GetType().GetProperty("Author").GetValue(post, null) == item.GetType().GetProperty("EmailAddress").GetValue(item, null))
                        {
                            <tr>
                                <td>@post.GetType().GetProperty("Title").GetValue(post, null)</td>
                                <td>@post.GetType().GetProperty("Like").GetValue(post, null)</td>
                                <td>@post.GetType().GetProperty("Comment").GetValue(post, null)</td>
                                <td>@post.GetType().GetProperty("Share").GetValue(post, null)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </tbody>
    </table>
}


