@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<object>
<head>
    <link rel="stylesheet" href="~/css/DetailedPostPage.css" />
</head>
<body>
    <div style="overflow: auto;flex:2">
        @foreach (var item in Model)
        {
            <section class="main">
                <div class="wrapper">
                    <div class="left-col">
                        <div class="post">
                            <div class="info">
                                <div class="user">
                                    <div class="profile-pic"><img src="@item.GetType().GetProperty("AvatarURL").GetValue(item, null)" alt="" width="40px" height="40px" style="border-radius: 50%"></div>
                                    <p class="username">@item.GetType().GetProperty("AuthorName").GetValue(item, null)</p>
                                </div>
                                <img src="img/option.PNG" class="options" alt="">
                                <button class="project-btn-more" id="more-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="12" cy="5" r="1" />
                                        <circle cx="12" cy="19" r="1" />
                                    </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="more-btn">
                                    <a class="dropdown-item" href="/post/DetailedPostPage?id=@item.GetType().GetProperty("ID").GetValue(item, null)">Xem chi tiết</a>
                                    @if (String.Compare(Context.Session.GetString("email"), @item.GetType().GetProperty("Author").GetValue(item, null).ToString()) == 0)
                                    {
                                        <form asp-controller="Post" asp-action="Delete" asp-route-id="@item.GetType().GetProperty("ID").GetValue(item, null)" method="post">
                                            <button type="submit" class="dropdown-item">Xoá</button>
                                        </form>
                                        <a class="dropdown-item" href="/post/edit?id=@item.GetType().GetProperty("ID").GetValue(item, null)">Sửa</a>
                                    }
                                </div>
                            </div>
                            <h3 class="text-center">@Html.Raw(@item.GetType().GetProperty("Title").GetValue(item, null))</h3>
                            <div class="m-4">
                                @Html.Raw(@item.GetType().GetProperty("Content").GetValue(item, null))
                            </div>
                            <div class="post-content">
                                <div class="reaction-wrapper">
                                    <a href="#" class="album-action @(item.GetType().GetProperty("isLiked") != null ? (item.GetType().GetProperty("isLiked").GetValue(item, null).ToString() == "True" ? "active" : "") : "")">
                                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                                        </svg>
                                        @item.GetType().GetProperty("Like").GetValue(item, null)
                                    </a>
                                    <a href="#" class="album-action">
                                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                                            <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
                                        </svg>
                                        @item.GetType().GetProperty("Comment").GetValue(item, null)
                                    </a>
                                    <a href="#" class="album-action">
                                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                                            <path d="M17 1l4 4-4 4" />
                                            <path d="M3 11V9a4 4 0 014-4h14M7 23l-4-4 4-4" />
                                            <path d="M21 13v2a4 4 0 01-4 4H3" />
                                        </svg>
                                        @item.GetType().GetProperty("Share").GetValue(item, null)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>


    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" />
            </svg>
        </button>
        <div class="projects-section-header">
            <p>Client Messages</p>
        </div>
        <div class="messages">
            <div class="message-box">
                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Stephanie</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-1">
                            <label for="star-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        I got your first assignment. It was quite good. 🥳 We can continue with the next assignment.
                    </p>
                    <p class="message-line time">
                        Dec, 12
                    </p>
                </div>
            </div>
            <div class="message-box">
                <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Mark</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-2">
                            <label for="star-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        Hey, can tell me about progress of project? I'm waiting for your response.
                    </p>
                    <p class="message-line time">
                        Dec, 12
                    </p>
                </div>
            </div>
            <div class="message-box">
                <img src="https://images.unsplash.com/photo-1543965170-4c01a586684e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDZ8fG1hbnxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="profile image">
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">David</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-3">
                            <label for="star-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        Awesome! 🤩 I like it. We can schedule a meeting for the next one.
                    </p>
                    <p class="message-line time">
                        Dec, 12
                    </p>
                </div>
            </div>
            <div class="message-box">
                <img src="https://images.unsplash.com/photo-1533993192821-2cce3a8267d1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHdvbWFuJTIwbW9kZXJufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="profile image">
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Jessica</div>
                        <div class="star-checkbox">
                            <input type="checkbox" id="star-4">
                            <label for="star-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <p class="message-line">
                        I am really impressed! Can't wait to see the final result.
                    </p>
                    <p class="message-line time">
                        Dec, 11
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>